Python Booleans

-Boolean Values

In [1]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [2]:
#Print a message based on whether the condition is True or False:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

-Evaluate Values and Variables

In [3]:
#Evaluate a string and a number:
print(bool("Hello"))
print(bool(15))

True
True

In [4]:
#Evaluate two variables:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

-Most Values are True

In [5]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

-Some Values are False

In [6]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [1]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

Functions can Return a Boolean

In [2]:
#Print the answer of a function:
def myFunction() :
  return True

print(myFunction())

True

In [3]:
#Print "YES!" if the function returns True, otherwise print "NO!":
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [4]:
#Check if an object is an integer or not:
x = 200
print(isinstance(x, int))

True

Python Operators

-Python Arithmetic Operators

In [6]:
x = 5
y = 3

print(x + y)

15

In [7]:
x = 5
y = 3

print(x - y)

2

In [8]:
print(x * y)

15

In [9]:
x = 12
y = 3

print(x / y)

4.0

In [10]:
x = 5
y = 2

print(x % y)

1

In [11]:
x = 2
y = 5

print(x ** y) #same as 2*2*2*2*2

32

In [12]:
x = 15
y = 2

print(x // y)

#the floor division // rounds the result down to the nearest whole number

7

-Python Assignment Operators

In [13]:
x = 5

print(x)

5

In [14]:
x = 5

x += 3

print(x)

8

In [15]:
x = 5

x -= 3

print(x)

2

In [16]:
x = 5

x *= 3

print(x)

15

In [17]:
x = 5

x /= 3

print(x)

1.6666666666666667

In [18]:
x = 5

x %= 3

print(x)

2

In [19]:
x = 5

x //= 3

print(x)

1

In [20]:
x = 5

x **= 3

print(x)

125

In [21]:
x = 5

x &= 3

print(x)

1

In [22]:
x = 5

x |= 3

print(x)

7

In [23]:
x = 5

x ^= 3

print(x)

6

In [24]:
x = 5

x >>= 3

print(x)

0

In [25]:
x = 5

x <<= 3

print(x)

40

In [26]:
print(x := 3)

3

-Python Comparison Operators

In [27]:
x = 5
y = 3

print(x == y)

# returns False because 5 is not equal to 3

False

In [28]:
x = 5
y = 3

print(x != y)

# returns True because 5 is not equal to 3

True

In [29]:
x = 5
y = 3

print(x > y)

# returns True because 5 is greater than 3

True

In [30]:
x = 5
y = 3

print(x < y)

# returns False because 5 is not less than 3

False

In [31]:
x = 5
y = 3

print(x >= y)

# returns True because five is greater, or equal, to 3

True

In [32]:
x = 5
y = 3

print(x <= y)

# returns False because 5 is neither less than or equal to 3

False

-Python Logical Operators

In [34]:
x = 5

print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [35]:
x = 5

print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [36]:
x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False

-Python Identity Operators

In [37]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [38]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

-Python Membership Operators

In [39]:
x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [41]:
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True

-Python Bitwise Operators

In [43]:
print(6 & 3)



"""
The & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
2 = 0000000000000010
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

2

'\nThe & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:\n\n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\n2 = 0000000000000010\n====================\n\nDecimal numbers and their binary values:\n0 = 0000000000000000\n1 = 0000000000000001\n2 = 0000000000000010\n3 = 0000000000000011\n4 = 0000000000000100\n5 = 0000000000000101\n6 = 0000000000000110\n7 = 0000000000000111\n'

In [44]:
print(6 | 3)



"""
The | operator compares each bit and set it to 1 if one or both is 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
7 = 0000000000000111
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

7

'\nThe | operator compares each bit and set it to 1 if one or both is 1, otherwise it is set to 0:\n\n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\n7 = 0000000000000111\n====================\n\nDecimal numbers and their binary values:\n0 = 0000000000000000\n1 = 0000000000000001\n2 = 0000000000000010\n3 = 0000000000000011\n4 = 0000000000000100\n5 = 0000000000000101\n6 = 0000000000000110\n7 = 0000000000000111\n'

In [45]:
print(6 ^ 3)



"""
The ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
5 = 0000000000000101
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

5

'\nThe ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:\n\n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\n5 = 0000000000000101\n====================\n\nDecimal numbers and their binary values:\n0 = 0000000000000000\n1 = 0000000000000001\n2 = 0000000000000010\n3 = 0000000000000011\n4 = 0000000000000100\n5 = 0000000000000101\n6 = 0000000000000110\n7 = 0000000000000111\n'

In [46]:
print(~3)



"""
The ~ operator inverts each bit (0 becomes 1 and 1 becomes 0).

Inverted 3 becomes -4:
 3 = 0000000000000011
-4 = 1111111111111100

Decimal numbers and their binary values:
 4 = 0000000000000100
 3 = 0000000000000011
 2 = 0000000000000010
 1 = 0000000000000001
 0 = 0000000000000000
-1 = 1111111111111111
-2 = 1111111111111110
-3 = 1111111111111101
-4 = 1111111111111100
"""

-4

'\nThe ~ operator inverts each bit (0 becomes 1 and 1 becomes 0).\n\nInverted 3 becomes -4:\n 3 = 0000000000000011\n-4 = 1111111111111100\n\nDecimal numbers and their binary values:\n 4 = 0000000000000100\n 3 = 0000000000000011\n 2 = 0000000000000010\n 1 = 0000000000000001\n 0 = 0000000000000000\n-1 = 1111111111111111\n-2 = 1111111111111110\n-3 = 1111111111111101\n-4 = 1111111111111100\n'

In [47]:
print(3 << 2)



"""
The << operator inserts the specified number of 0's (in this case 2) from the right and let the same amount of leftmost bits fall off:

If you push 00 in from the left:
 3 = 0000000000000011
becomes
12 = 0000000000001100

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

12

"\nThe << operator inserts the specified number of 0's (in this case 2) from the right and let the same amount of leftmost bits fall off:\n\nIf you push 00 in from the left:\n 3 = 0000000000000011\nbecomes\n12 = 0000000000001100\n\nDecimal numbers and their binary values:\n 0 = 0000000000000000\n 1 = 0000000000000001\n 2 = 0000000000000010\n 3 = 0000000000000011\n 4 = 0000000000000100\n 5 = 0000000000000101\n 6 = 0000000000000110\n 7 = 0000000000000111\n 8 = 0000000000001000\n 9 = 0000000000001001\n10 = 0000000000001010\n11 = 0000000000001011\n12 = 0000000000001100\n"

In [48]:
print(8 >> 2)



"""
The >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.

If you move each bit 2 times to the right, 8 becomes 2:
 8 = 0000000000001000
becomes
 2 = 0000000000000010

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

2

"\nThe >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.\n\nIf you move each bit 2 times to the right, 8 becomes 2:\n 8 = 0000000000001000\nbecomes\n 2 = 0000000000000010\n\nDecimal numbers and their binary values:\n 0 = 0000000000000000\n 1 = 0000000000000001\n 2 = 0000000000000010\n 3 = 0000000000000011\n 4 = 0000000000000100\n 5 = 0000000000000101\n 6 = 0000000000000110\n 7 = 0000000000000111\n 8 = 0000000000001000\n 9 = 0000000000001001\n10 = 0000000000001010\n11 = 0000000000001011\n12 = 0000000000001100\n"

-Operator Precedence

In [49]:
print((6 + 3) - (6 + 3))

0

In [50]:
print(100 + 5 * 3)

115

In [51]:
print(100 - 3 ** 3)

"""
Exponentiation has higher precedence than subtraction, and needs to be evaluated first.
The calculation above reads 100 - 27 = 73
"""

73

'\nExponentiation has higher precedence than subtraction, and needs to be evaluated first.\nThe calculation above reads 100 - 27 = 73\n'

In [52]:
print(100 + ~3)

"""
Bitwise NOT has higher precedence than addition, and needs to be evaluated first.
The calculation above reads 100 + -4 = 96
"""

96

'\nBitwise NOT has higher precedence than addition, and needs to be evaluated first.\nThe calculation above reads 100 + -4 = 96\n'

In [53]:
print(100 + 5 * 3)

"""
Multiplication has higher precedence than addition, and needs to be evaluated first.
The calculation above reads 100 + 15 = 115
"""

115

'\nMultiplication has higher precedence than addition, and needs to be evaluated first.\nThe calculation above reads 100 + 15 = 115\n'

In [54]:
print(100 - 5 * 3)

"""
Subtraction has a lower precedence than multiplication, and we need to calculate the multiplication first.
The calculation above reads 100 - 15 = 85
"""

85

'\nSubtraction has a lower precedence than multiplication, and we need to calculate the multiplication first.\nThe calculation above reads 100 - 15 = 85\n'

In [55]:
print(8 >> 4 - 2)

"""
Bitwise right shift has a lower precedence than subtraction, and we need to calculate the subtraction first.
The calculation above reads 8 >> 2 = 2

More explanation:
The >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.

If you move each bit 2 times to the right, 8 becomes 2:
 8 = 0000000000001000
becomes
 2 = 0000000000000010

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

2

"\nBitwise right shift has a lower precedence than subtraction, and we need to calculate the subtraction first.\nThe calculation above reads 8 >> 2 = 2\n\nMore explanation:\nThe >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.\n\nIf you move each bit 2 times to the right, 8 becomes 2:\n 8 = 0000000000001000\nbecomes\n 2 = 0000000000000010\n\nDecimal numbers and their binary values:\n 0 = 0000000000000000\n 1 = 0000000000000001\n 2 = 0000000000000010\n 3 = 0000000000000011\n 4 = 0000000000000100\n 5 = 0000000000000101\n 6 = 0000000000000110\n 7 = 0000000000000111\n 8 = 0000000000001000\n 9 = 0000000000001001\n10 = 0000000000001010\n11 = 0000000000001011\n12 = 0000000000001100\n"

In [56]:
print(6 & 2 + 1)

"""
Bitwise AND has a lower precedence than addition, and we need to calculate the addition first.
The calculation above reads 6 & 3 = 2

More explanation:
The & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
2 = 0000000000000010
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

2

'\nBitwise AND has a lower precedence than addition, and we need to calculate the addition first.\nThe calculation above reads 6 & 3 = 2\n\nMore explanation:\nThe & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:\n\n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\n2 = 0000000000000010\n====================\n\nDecimal numbers and their binary values:\n0 = 0000000000000000\n1 = 0000000000000001\n2 = 0000000000000010\n3 = 0000000000000011\n4 = 0000000000000100\n5 = 0000000000000101\n6 = 0000000000000110\n7 = 0000000000000111\n'

In [57]:
print(6 ^ 2 + 1)

"""
Bitwise XOR has a lower precedence than addition, and we need to calculate the addition first.
The calculation above reads 6 ^ 3 = 5

More explanation:
The ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
5 = 0000000000000101
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

5

'\nBitwise XOR has a lower precedence than addition, and we need to calculate the addition first.\nThe calculation above reads 6 ^ 3 = 5\n\nMore explanation:\nThe ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:\n\n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\n5 = 0000000000000101\n====================\n\nDecimal numbers and their binary values:\n0 = 0000000000000000\n1 = 0000000000000001\n2 = 0000000000000010\n3 = 0000000000000011\n4 = 0000000000000100\n5 = 0000000000000101\n6 = 0000000000000110\n7 = 0000000000000111\n'

In [58]:
print(6 | 2 + 1)

"""
Bitwise OR has a lower precedence than addition, and we need to calculate the addition first.
The calculation above reads 6 | 3 = 7

More explanation:
The | operator compares each bit and set it to 1 if one or both is 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
7 = 0000000000000111
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

7

'\nBitwise OR has a lower precedence than addition, and we need to calculate the addition first.\nThe calculation above reads 6 | 3 = 7\n\nMore explanation:\nThe | operator compares each bit and set it to 1 if one or both is 1, otherwise it is set to 0:\n\n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\n7 = 0000000000000111\n====================\n\nDecimal numbers and their binary values:\n0 = 0000000000000000\n1 = 0000000000000001\n2 = 0000000000000010\n3 = 0000000000000011\n4 = 0000000000000100\n5 = 0000000000000101\n6 = 0000000000000110\n7 = 0000000000000111\n'

In [59]:
print(5 == 4 + 1)

"""
The "like" comparison has a lower precedence than addition, and we need to calculate the addition first.
The calculation above reads 5 == 5 = True
"""

True

'\nThe "like" comparison has a lower precedence than addition, and we need to calculate the addition first.\nThe calculation above reads 5 == 5 = True\n'

In [60]:
print(not 5 == 5)

"""
The logical NOT operator has a lower precedence than "like" comparison, and we need to calculate the comparison first.
The calculation above reads: not True = False
"""

False

'\nThe logical NOT operator has a lower precedence than "like" comparison, and we need to calculate the comparison first.\nThe calculation above reads: not True = False\n'

In [61]:
print(1 or 2 and 3)

"""
The and operator has a higher precedence than or, and we need to calculate the and expression first.
The calculation above reads: 1 or 3 = 1
"""

1

'\nThe and operator has a higher precedence than or, and we need to calculate the and expression first.\nThe calculation above reads: 1 or 3 = 1\n'

In [62]:
print(4 or 5 + 10 or 8)

"""
The or operator has a lower precedence than addition, and we need to calculate the addition first.
The calculation above reads: 4 or 15 or 8 = 4
"""

4

'\nThe or operator has a lower precedence than addition, and we need to calculate the addition first.\nThe calculation above reads: 4 or 15 or 8 = 4\n'

In [63]:
print(5 + 4 - 7 + 3)

5

Python Lists

In [1]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [2]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [3]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [5]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [6]:
list1 = ["abc", 34, True, 40, "male"]

In [8]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [ ]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

In [9]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [10]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [11]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [12]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [13]:
#append method
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [14]:
#insert  method
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [15]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

-Remove Specified Item

In [16]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [ ]:
#pop() method removes the last item
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

In [17]:
#del keyword also removes the specified index
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [18]:
#clear() method empties the list
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

-Python - Loop Lists

In [19]:
#Print all items in the list, one by one
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [ ]:
#Use the range() and len() functions to create a suitable iterable
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

In [ ]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

In [20]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

-Python - List Comprehension

In [21]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [22]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [26]:
newlist = [x for x in fruits if x != "apple"]

In [25]:
newlist = [x for x in fruits]

-Python - Sort Lists

In [27]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [28]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [29]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [30]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [31]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [32]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [33]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [34]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

-Python - Copy Lists

In [35]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [36]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [37]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

-Python - Join Lists

In [38]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [39]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [40]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

Python Tuples

In [41]:
mytuple = ("apple", "banana", "cherry")

-Tuple

In [42]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [43]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [44]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [45]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [46]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

-Access Tuple Items

In [49]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [48]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [47]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [50]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [51]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [52]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

-Change Tuple Values

In [53]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

-Unpacking a Tuple

In [54]:
fruits = ("apple", "banana", "cherry")

In [55]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [56]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [57]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

-Python - Loop Tuples

In [58]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [59]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [60]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

-Python - Join Tuples

In [61]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [62]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

Python Sets

-Sets

In [63]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

In [64]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

-Python - Access Set Items

In [65]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

In [66]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [67]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

-Python - Add Set Items

In [68]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'banana', 'apple', 'orange'}

In [69]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'cherry', 'banana', 'mango', 'pineapple', 'papaya', 'apple'}

In [70]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'apple', 'orange', 'banana', 'kiwi'}

-Python - Remove Set Items

In [73]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [74]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [75]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'banana', 'apple'}

In [76]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [ ]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

-Python - Loop Sets

In [80]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

-Python - Join Sets

In [81]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 'b', 'a', 3, 'c'}

In [82]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 'b', 'a', 3, 'c'}

In [83]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{'cherry', 1, 2, 'b', 'a', 3, 'John', 'Elena', 'apple', 'bananas', 'c'}

In [84]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{'cherry', 1, 2, 'b', 'a', 3, 'John', 'Elena', 'apple', 'bananas', 'c'}

In [85]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 'b', 'a', 3, 'c'}

In [86]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 'b', 'a', 3, 'c'}

In [87]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [88]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

-Python If ... Else

In [89]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [90]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [91]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [92]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [93]:
if a > b: print("a is greater than b")

a is greater than b

In [94]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [96]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [97]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [98]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [99]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

In [100]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [101]:
a = 33
b = 200

if b > a:
  pass

Python While Loops

In [102]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [103]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [104]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [105]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Python For Loops

In [106]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [107]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [108]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [109]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [110]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [111]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [112]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [113]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [114]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [115]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [116]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [117]:
for x in [0, 1, 2]:
  pass